body{
    bottom: 0;
    margin-bottom: -5px;
    margin: 0;
 position: fixed;
 width: 100%;
}
footer{
    
    background-color: red;
    
    width: 100%;
    
}
#pa1{
    text-align: center;
    color: whitesmoke;
}
section{
    text-align: center;
}