body {
    text-align: center;
    background-color: wheat;
}

#img01 {
    -webkit-box-shadow: 19px 17px 21px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 19px 17px 21px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 19px 17px 21px -5px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

article {
    background-color: rgba(246, 187, 99, 0.763);
    border-radius: 15px;
<<<<<<< HEAD
    margin-bottom: 30px;
=======

>>>>>>> 55af8a058a810c34a3be29568b93b66a88ae1dd3
}

#art01 {
    margin-top: 60px;
}

#sec01 {
    background-color: rgb(249, 232, 212);
    width: 1100px;
    height: 200px;
    margin: auto;
    margin-top: 60px;
}

section {
    background-color: rgb(249, 232, 212);
    width: 330px;
    height: 430px;
    border-radius: 15px;
    margin-left: 60px;
    -webkit-box-shadow: 19px 17px 21px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 19px 17px 21px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 19px 17px 21px -5px rgba(0, 0, 0, 0.75);
    margin-top: 70px;
<<<<<<< HEAD
<<<<<<< HEAD
    border:solid;
    border-left-color:brown ;
    border-left: 30px;
=======
    
>>>>>>> 55af8a058a810c34a3be29568b93b66a88ae1dd3
=======


>>>>>>> 9f4be6246be5548a6ab543bc5c86e79ccf68d13f
}

#art02 {
    margin-top: 60px;
    text-align: center;
}

#div_title {
    display: flex;
}

a {
    text-decoration: none;
    color: black;

<<<<<<< HEAD
=======
}

footer {
    width: 100%;
    bottom: 0;

    margin-bottom: -5px;

}

header {}

#ifr1 {
    width: 100%;
    margin: -8px;
    

>>>>>>> 9f4be6246be5548a6ab543bc5c86e79ccf68d13f
}