<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/footer.css">

</head>
<body>
    
    <div class="container">
    <footer>
        <section>
            <a herf="#" class="logo"></a>
            <p id="pa1">Todos os direitos reservados</p>
            <a href="https://linktr.ee/stefannyrodrioliv" target="_blank">
            <img id="img1" src="../assets/images/linktree-logo-icon.png" width="50" height="40">
        </a>
        </section>
         
    </footer>
</div>
</body>
</html>